# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so
.Python
env/
venv/
ENV/
VENV/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py
.env
*.log

# VSCode / IDE
.vscode/
.idea/
*.swp
*.swo

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Node.js / Parcel
node_modules/
bundles/
.parcel-cache/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.pid
*.tar
