{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Товары</th>
      <th>Сумма</th>
      <th>Статус</th>
      <th>Действия</th>
    </tr>
    {% for order in orders %}
      {% if order.status != "completed" %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>
            <ul>
                {% for item in order.items.all %}
                    <li>{{ item.product.name }} ×{{ item.quantity }} по {{ item.price }} ₽</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <strong>{{ order.total_price }} ₽</strong>
        </td>
        <td>
            {{ order.get_status_display }}
        </td>
        <td>
            <a href="{% url 'admin:foodcartapp_order_change' order.id %}?next={{ request.path|urlencode }}" target="_blank">Редактировать</a>
        </td>
      </tr>
      {% endif %}
    {% endfor %}
   </table>
  </div>
{% endblock %}
