{% extends 'base_restaurateur_page.html' %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>
  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Товары</th>
      <th>Сумма</th>
      <th>Статус</th>
      <th>Комментарий</th>
      <th>Время создания</th>
      <th>Время звонка</th>
      <th>Время доставки</th>
      <th>Оплата</th>
      <th>Рестораны</th>
      <th>Действия</th>
    </tr>
    {% for info in orders_with_available_restaurants %}
      {% with order=info.order available_restaurants=info.available_restaurants %}
      {% if order.status != "completed" %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.firstname }} {{ order.lastname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>
            <ul>
                {% for item in order.items.all %}
                    <li>{{ item.product.name }} ×{{ item.quantity }} по {{ item.price }} ₽</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <strong>{{ order.total_price }} ₽</strong>
        </td>
        <td>
            {{ order.get_status_display }}
        </td>
        <td>
            {{ order.comment|default:"—" }}
        </td>
        <td>
            {{ order.created_at|date:"d.m.Y H:i" }}
        </td>
        <td>
            {{ order.called_at|date:"d.m.Y H:i" }}
        </td>
        <td>
            {{ order.delivered_at|date:"d.m.Y H:i" }}
        </td>
        <td>
            {{ order.get_payment_method_display }}
        </td>
        <td>
            {% if order.restaurant %}
                <b>Выбран: {{ order.restaurant.name }}</b>
            {% else %}
                <details>
                  <summary>Какие рестораны могут приготовить?</summary>
                  {% if available_restaurants %}
                    <ul>
                        {% for rest in available_restaurants %}
                            <li>{{ rest.name }}</li>
                        {% endfor %}
                    </ul>
                  {% else %}
                    <b style="color:red;">Нет ресторанов для сборки заказа</b>
                  {% endif %}
                </details>
            {% endif %}
        </td>
        <td>
            <a href="{% url 'admin:foodcartapp_order_change' order.id %}?next={{ request.path|urlencode }}" target="_blank">Редактировать</a>
        </td>
      </tr>
      {% endif %}
      {% endwith %}
    {% endfor %}
   </table>
  </div>
{% endblock %}
